:root{
    --main-text-color: #757575;
    --title-text-color: #212121;
    --focus-color: 

}
body{
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-text-color);
}


/* навигация */
.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}


.nav-logo-web{
    color: #2196F3;

}

.nav-navigation{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-navigation:hover, 
.contacts:hover, 
.address-geography:hover, 
.footer-logo:hover, 
.footer-contact:hover,
.nav-logo:hover,
.nav-navigation:focus,
.contacts:focus,
.address-geography:focus,
.footer-logo:focus,
.footer-contact:focus,
.nav-logo:focus,
.hero-button:hover,
.portfolio-button:hover,
.hero-button:focus,
.portfolio-button:focus
{
    color: #2196F3;
}

/* Контакты */
.contacts{
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    }
   
/* герой */
.hero{
    background-color: #2F303A;
    /* 
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; */
}
.hero-text{
    
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
}

/* другое */
.ul{
list-style: none;
}


/* преимущества */
.exelents-title{
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.exelents-text{
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
.what-we-do-title{
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
/* наша команда */
.our-team-title{
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.our-team-name{

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.our-team-position{

font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

}

/* Футер */
.footer{
    background-color: #2F303A;
   
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
    text-decoration: none;
}
.footer-logo-web{
     color: #2196F3;
}
.address-geography{
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-contact{
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/* Портфолио */
.project-title{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
    color: var(--title-text-color)
}

.project-type{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.hero-button,
.portfolio-button{
    cursor: pointer;
}
